    <tr>
      <td valign="top" align="center" class="fix-box">
        <table width="600" height="20" align="center" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff;" class="full-width">
          <tbody>
            <tr>
              <td valign="top" height="20">
                <img src="{{ base_url() }}assets/images/email/space.png" width="20" alt="space" style="display:block; max-height:20px; max-width:20px;">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" align="center" class="fix-box">
        <table width="600" height="20" align="center" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff;" class="full-width">
          <tbody>
            <tr>
              <td valign="top" height="20">
                <img src="{{ base_url() }}assets/images/email/space.png" width="20" alt="space" style="display:block; max-height:20px; max-width:20px;">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" align="center" class="fix-box">
        <table width="600" height="20" align="center" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff;" class="full-width">
          <tbody>
            <tr>
              <td valign="top" height="20">
                <img src="{{ base_url() }}assets/images/email/space.png" width="20" alt="space" style="display:block; max-height:20px; max-width:20px;">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
