<div class="sub-header-skillagogo-3 sub-head-c-class">
  <div class="container">
    <div class="col-md-12 sub-head-mobile">
      <div class="sub-title-header {{ ClassBoxRightTitleColor }} {{ ClassHiddenSubTitle }}" id="{{ IdBoxRightTitleColor }}">
        {{ SubTitleHeader }}
      </div>
    </div>
  </div>
</div>
