<div class="row">
  <div class="col-md-12">
    <div class="horizontal-menu">
      <a href="{{ base_url() }}dashboard/student/comment" class="list-h-top active">
        <div class="title">
          {{ line('dashboard_1', 'dashboard') }}
        </div>
      </a>
    </div>
  </div>
</div>
