{{ content_en_new|raw }}

{# <section class="static-terms-wrapper">
  <div class="container">
    <div class="col-md-12">
      <div class="box-terms">
        <div class="row">
          <div class="col-md-12">
            <div class="title-top title-terms">
              <div class="title">Terms of Service</div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="title-top">
              <div class="title">DEFINITIONS</div>
              <div class="description">
                <p>
                  This website (the “Website”) is operated by Skillagogo Pte. Ltd., a Singapore private company (Reg. no.&nbsp;201507746N).
                </p>
                <ol>
                  <li>
                    <p>
                      The classes on the Website are offered for users who wish to attend classes, courses, workshops from the class provider or their legal representative (“the Teacher”) to the learner (“the Student”) under the following Terms of Service. Some classes also have Courses Specific Terms of Service, available on the class provider’s page or the school/institution’s page on the Website. When booking a seat on the Website and/or making inquiry on the Website or via email or telephone, the Student accepts and agrees to these Terms of Service and to the Courses Specific Terms of Service.
                    </p>
                  </li>
                  <li>
                    <p>
                      The Website provides an online platform through which the Teachers can advertise their classes, courses and workshops. By booking a seat through the Website, the Students enters into a direct, legally binding, contractual relationship with the relevant Teachers. The Website acts solely as an intermediary between the Student and the Teacher, sending the booking and payment details to the Teacher and sending the Student a confirmation email for and on behalf of the Teacher.
                    </p>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="title-top">
              <div class="title">BOOKING</div>
              <div class="description">
                <ol start="3">
                  <li>
                    <p>
                      To book a seat on the class offered by the Teacher, the Student must pay to the Website a class full price as advertised on the Website (unless otherwise specified in the Courses Specific Terms of Service). Upon reception of the confirmation email and payment, the Website, on behalf of the Teacher, will send a class confirmation email and an attendance voucher. The booking will be effective immediately after the confirmation email has been sent to the Student.
                    </p>
                  </li>
                  <li>
                    <p>
                      Class booking can only be accepted from users aged 18 or over at the time of booking.
                    </p>
                  </li>
                </ol>
              </div>

            </div>
          </div>
          <div class="col-md-12">
            <div class="title-top">
              <div class="title">PRICE AND PAYMENTS</div>
              <div class="description">
               <ol start="5">
                <li>
                  <p>The Student is responsible for the payments of the class cost and for compliance with these Terms of Service.</p>
                </li>
                <li>
                  <p>The class prices include the following: </p>
                  <ul>
                    <li>Class/course/workshop content offered by the Teacher</li>
                    <li>Use of class facilities (if any)</li>
                    <li>Certificate of Completion (if any)</li>
                  </ul>
                </li>
                <li>
                  <p>Prices DO NOT include the following: </p>
                  <ul>
                    <li>Other additional specific tools and/or equipment needed for the class as specified in the Class Profile Page</li>
                  </ul>
                </li>
                <li>
                  <p>
                    For classes in Singapore, the class prices are all in Singapore Dollars (S$). For classes in Indonesia, the class prices are all in Indonesia Rupiah (Rp). Payment can be made only in respective currencies.
                  </p>
                </li>
                <li>
                  <p>Payments can be made by Paypal (S$ only), bank/ATM transfer (Rp only).</p>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="title-top">
            <div class="title">CANCELLATION</div>
            <div class="description">
              <ol start="10">
                <li>
                  <p>
                    If the cancellation is made by the Student, the payment will be revised into skillagogo credits which can be used to attend other class. skillagogo credits has a validity of 12 months after opening.
                  </p>
                </li>
                <li>
                  <p>
                    If the cancellation is made by the Teacher, the Student will be offered an opportunity to change her/his schedule. In the event that there is no available new class schedule, the Student will be given skillagogo credits. Class cancellation made by the Teacher is subject to admin fees as stated in the Teacher Cancellation scheme.
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="title-top">
            <div class="title">REVIEWS</div>
            <div class="description">
              <ol start="12">
                <li>
                  <p>
                    The Student reviews may be uploaded onto the Teacher’s website and/or his/her social media accounts, as well as on our website for the sole purpose of informing future Students of other opinions of the service level and quality of the class and/or the Teacher.
                  </p>
                </li>
                <li>
                  <p>The Website reserves the right to accept, refuse or remove reviews at our sole discretion.</p>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="title-top">
            <div class="title">LIABILITY</div>
            <div class="description">
              <ol start="14">
                <li>
                  <p>
                    Neither Teacher nor the Website shall be liable for events beyond their control which may interfere with the Student’s scheduled occupancy, including but not limited to Acts of God, acts of governmental agencies, fire, strikes, terrorism, war, inclement weather, flooding, disturbance or noise coming from outside the class premises such as private or public construction, traffic, animals or neighbours. No rebate of refund will be offered in these circumstances.
                  </p>
                </li>
                <li>
                  <p>
                    The Website assumes no liability for property loss or damages, nor liability for injury, accidents, delay, or irregularity which may be occasioned during the class session.
                  </p>
                </li>
                <li>
                  <p>
                    Any exception to these Terms of Service granted by the Website for the Student’s benefit in no way modifies the present Terms of Service. Complete or partial nullity of any clause in the Terms of Service does not entail the nullity of the other Terms of Service
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="title-top">
            <div class="title">LANGUAGE AND APPLICABLE LAW</div>
            <div class="description">
              <ol start="17">
                <li>
                  <p>
                    These Terms of Service are written in English. The English writing will prevail over any translation available.
                  </p>
                </li>
                <li>
                  <p>
                    These Terms of Service are submitted to the exclusive jurisdiction of the Singapore courts under Singapore laws.
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> #}

{# VERSION 2 #}
{#
  <section class="sub-header-skillagogo parallax-skillagogo bg-img-about">
    <div class="bg-overlay-full overlay-purple"></div>
    <div class="container">
      <div class="col-md-12">
        <div class="title">
          Terms of Service
        </div>
      </div>
    </div>
  </section>
  <section class="static-terms-2">
    <div class="service-wrapper">
      <div class="container">
        <div class="col-md-12">
          <div class="list-service">
            <div class="row">
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>DEFINITIONS</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <p>
                      This website (the “Website”) is operated by Skillagogo Pte. Ltd., a Singapore private company (Reg. no.&nbsp;201507746N).
                    </p>
                    <ol>
                      <li>
                        <p>
                          The classes on the Website are offered for users who wish to attend classes, courses, workshops from the class provider or their legal representative (“the Teacher”) to the learner (“the Student”) under the following Terms of Service. Some classes also have Courses Specific Terms of Service, available on the class provider’s page or the school/institution’s page on the Website. When booking a seat on the Website and/or making inquiry on the Website or via email or telephone, the Student accepts and agrees to these Terms of Service and to the Courses Specific Terms of Service.
                        </p>
                      </li>
                      <li>
                        <p>
                          The Website provides an online platform through which the Teachers can advertise their classes, courses and workshops. By booking a seat through the Website, the Students enters into a direct, legally binding, contractual relationship with the relevant Teachers. The Website acts solely as an intermediary between the Student and the Teacher, sending the booking and payment details to the Teacher and sending the Student a confirmation email for and on behalf of the Teacher.
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-service">
            <div class="row">
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>BOOKING</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <ol>
                      <li>
                        <p>
                          To book a seat on the class offered by the Teacher, the Student must pay to the Website a class full price as advertised on the Website (unless otherwise specified in the Courses Specific Terms of Service). Upon reception of the confirmation email and payment, the Website, on behalf of the Teacher, will send a class confirmation email and an attendance voucher. The booking will be effective immediately after the confirmation email has been sent to the Student.
                        </p>
                      </li>
                      <li>
                        <p>
                          Class booking can only be accepted from users aged 18 or over at the time of booking.
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-service">
            <div class="row">
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>PRICE AND PAYMENTS</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <ol>
                      <li>
                        <p>The Student is responsible for the payments of the class cost and for compliance with these Terms of Service.</p>
                      </li>
                      <li>
                        <p>The class prices include the following: </p>
                        <ul>
                          <li>Class/course/workshop content offered by the Teacher</li>
                          <li>Use of class facilities (if any)</li>
                          <li>Certificate of Completion (if any)</li>
                        </ul>
                      </li>
                      <li>
                        <p>Prices DO NOT include the following: </p>
                        <ul>
                          <li>Other additional specific tools and/or equipment needed for the class as specified in the Class Profile Page</li>
                        </ul>
                      </li>
                      <li>
                        <p>
                          For classes in Singapore, the class prices are all in Singapore Dollars (S$). For classes in Indonesia, the class prices are all in Indonesia Rupiah (Rp). Payment can be made only in respective currencies.
                        </p>
                      </li>
                      <li>
                        <p>Payments can be made by Paypal (S$ only), bank/ATM transfer (Rp only).</p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-service">
            <div class="row">              
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>CANCELLATION</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <ol>
                      <li>
                        <p>
                          If the cancellation is made by the Student, the payment will be revised into skillagogo credits which can be used to attend other class. skillagogo credits has a validity of 12 months after opening.
                        </p>
                      </li>
                      <li>
                        <p>
                          If the cancellation is made by the Teacher, the Student will be offered an opportunity to change her/his schedule. In the event that there is no available new class schedule, the Student will be given skillagogo credits. Class cancellation made by the Teacher is subject to admin fees as stated in the Teacher Cancellation scheme.
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-service">
            <div class="row">
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>REVIEWS</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <ol>
                      <li>
                        <p>
                          The Student reviews may be uploaded onto the Teacher’s website and/or his/her social media accounts, as well as on our website for the sole purpose of informing future Students of other opinions of the service level and quality of the class and/or the Teacher.
                        </p>
                      </li>
                      <li>
                        <p>The Website reserves the right to accept, refuse or remove reviews at our sole discretion.</p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-service">
            <div class="row">              
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>LIABILITY</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <ol>
                      <li>
                        <p>
                          Neither Teacher nor the Website shall be liable for events beyond their control which may interfere with the Student’s scheduled occupancy, including but not limited to Acts of God, acts of governmental agencies, fire, strikes, terrorism, war, inclement weather, flooding, disturbance or noise coming from outside the class premises such as private or public construction, traffic, animals or neighbours. No rebate of refund will be offered in these circumstances.
                        </p>
                      </li>
                      <li>
                        <p>
                          The Website assumes no liability for property loss or damages, nor liability for injury, accidents, delay, or irregularity which may be occasioned during the class session.
                        </p>
                      </li>
                      <li>
                        <p>
                          Any exception to these Terms of Service granted by the Website for the Student’s benefit in no way modifies the present Terms of Service. Complete or partial nullity of any clause in the Terms of Service does not entail the nullity of the other Terms of Service
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-service">
            <div class="row">
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>LANGUAGE AND APPLICABLE LAW</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <ol>
                      <li>
                        <p>
                          These Terms of Service are written in English. The English writing will prevail over any translation available.
                        </p>
                      </li>
                      <li>
                        <p>
                          These Terms of Service are submitted to the exclusive jurisdiction of the Singapore courts under Singapore laws.
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
#}