{{ content_id_new|raw }}

{# <section class="static-terms-wrapper">
  <div class="container">
    <div class="col-md-12">
      <div class="box-terms">
        <div class="row">
          <div class="col-md-12">
            <div class="title-top title-terms">
              <div class="title">Ketentuan Penggunaan</div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="title-top">
              <div class="title">Definisi</div>
              <div class="description">
                <p>
                  Situs ini ("Situs") dikelola oleh Skillagogo Pte Ltd, sebuah perusahaan swasta yang berkedudukan di Singapura dengan nomor pendaftaran 201507746N.
                </p>
                <ol>
                  <li>
                    <p>
                      Kelas-kelas yang ditampilkan di Situs ini ditawarkan kepada para pengguna yang ingin menghadiri kelas, kursus atau workshop yang diberikan oleh Penyedia Kelas atau perwakilan hukumnya (“Pengajar”) kepada peserta kelas (“Peserta Kelas”) dengan mengacu pada Ketentuan Penggunaan berikut ini. Beberapa kelas juga memiliki Syarat dan Ketentuan Khusus, dan tersedia di halaman profil Pengajar yang terdapat di Situs. Saat melakukan pemesanan di Situs atau mengirimkan pertanyaan atau meminta penjelasan terhadap layanan yang tersedia di Situs melalui email atau telepon, Peserta Kelas sudah menerima dan setuju dengan Ketentuan Penggunaan dan Syarat dan Ketentuan Khusus yang terdapat di Situs.
                    </p>
                  </li>
                  <li>
                    <p>
                      Situs menyediakan platform online di mana Penyedia Kelas bisa memasang kelas, kursus dan workshopnya di Situs ini. Dengan memesan tempat melalui Situs, Peserta Kelas sudah masuk ke dalam suatu hubungan yang mengikat antara Peserta Kelas dan Penyedia Kelas yang bersangkutan. Situs akan bertindak semata sebagai penengah antara Peserta Kelas dan Penyedia Kelas, dengan cara mengirimkan detail pemesanan kelas dan pembayaran kepada Penyedia Kelas serta mengirimkan konfirmasi pemesanan kelas kepada Peserta Kelas atas nama Penyedia Kelas.
                    </p>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="title-top">
              <div class="title">Pemesanan</div>
              <div class="description">
                <ol start="3">
                  <li>
                    <p>
                      Untuk memesan tempat di kelas yang ditawarkan oleh Penyedia Kelas, Peserta Kelas harus membayar kepada Situs harga kelas seperti yang dimuat di Situs (kecuali jika ada Syarat dan Ketentuan yang lain). Setelah penerimaan konfirmasi pembayaran, Situs atas nama Penyedia Kelas, akan mengirimkan email konfirmasi pendaftaran kelas. Pemesanan kelas akan langsung efektif setelah email konfirmasi dikirimkan kepada Penyedia Kelas.
                    </p>
                  </li>
                  <li>
                    <p>
                      Pemesanan kelas hanya bisa diterima oleh pengguna yang telah berusia 18 tahun ke atas pada saat pemesanan.
                    </p>
                  </li>
                </ol>
              </div>

            </div>
          </div>
          <div class="col-md-12">
            <div class="title-top">
              <div class="title">Harga dan Pembayaran</div>
              <div class="description">
               <ol start="5">
                <li>
                  <p>Peserta Kelas bertanggung jawab atas pembayaran dari harga kelas sesuai dengan Ketentuan Penggunaan ini.</p>
                </li>
                <li>
                  <p>Harga kelas mencakup:</p>
                  <ul>
                    <li>Isi dari kelas/kursus/workshop yang diberikan oleh Penyedia Kelas </li>
                    <li>Penggunaan fasilitas kelas (jika ada)</li>
                    <li>Sertifikat Peserta (jika ada)</li>
                  </ul>
                </li>
                <li>
                  <p>Harga TIDAK mencakup: </p>
                  <ul>
                    <li>Peralatan atau perlengkapan lain yang diperlukan di kelas seperti yang tercantum di Halaman Profil Kelas.</li>
                  </ul>
                </li>
                <li>
                  <p>
                    Untuk kelas di Singapura, harga kelas adalah dalam mata uang Dolar Singapura (S$). Untuk kelas di Indonesia, harga kelas adalah dalam mata uang Indonesia Rupiah (Rp). Cara pembayaran hanya dapat dilakukan dalam mata uang yang bersangkutan.
                  </p>
                </li>
                <li>
                  <p>Pembayaran dapat dilakukan melalui Paypal (untuk Dolar Singapura) dan transfer ATM/bank (untuk Rupiah). </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="title-top">
            <div class="title">Pembatalan</div>
            <div class="description">
              <ol start="10">
                <li>
                  <p>
                    Jika pembatalan dibuat oleh Peserta Kelas, maka uang yang telah dibayarkan akan dimasukkan menjadi skillagogo credits yang bisa digunakan untuk memesan kelas yang lain. skillagogo credits memiliki masa berlaku selama 12 bulan setelah pembukaan kredit.
                  </p>
                </li>
                <li>
                  <p>
                    Jika pembatalan dilakukan oleh Penyedia Kelas, maka Peserta Kelas akan diberikan kesempatan untuk mengganti jadwal ke tanggal yang lain. Jika ternyata tidak ada jadwal kelas yang tersedia, maka Peserta Kelas akan mendapatkan skillagogo credits. Pembatalan yang dilakukan oleh Penyedia Kelas akan dikenakan biaya administrasi.
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="title-top">
            <div class="title">Ulasan Tinjauan</div>
            <div class="description">
              <ol start="12">
                <li>
                  <p>
                    Ulasan Tinjauan yang diberikan oleh Peserta Kelas akan diunggah di situs Profil Penyedia Kelas serta akun media sosial, demikan juga di Situs dengan tujuan untuk memberikan informasi kepada calon Peserta Kelas mengenai pendapat dari tingkat dan mutu layanan dari kelas yang ditawarkan serta Penyedia Kelas yang bersangkutan.
                  </p>
                </li>
                <li>
                  <p>Situs memiliki hak untuk menerima, menolak dan menghilangkan ulasan tinjauan tanpa harus memberi tahu kepada pihak yang bersangkutan.</p>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="title-top">
            <div class="title">Tanggung Jawab</div>
            <div class="description">
              <ol start="14">
                <li>
                  <p>
                    Baik Penyedia Kelas dan Situs tidak bertanggung jawab terhadap peristiwa yang berada di luar kekuasaan yang mengganggu jadwal Peserta Kelas, misalnya seperti bencana alam, peristiwa yang disebabkan oleh pemerintahan, kebakaran, mogok kerja, demo, terorisme, perang, banjir, gangguan yang datang dari luar ruangan kelas seperti pembangunan gedung pribadi atau publik, lalu lintas, binatang dan tetangga. Di bawah kondisi seperti ini, Situs tidak bisa memberikan potongan harga atau pengembalian uang.
                  </p>
                </li>
                <li>
                  <p>
                    Situs tak bertanggung jawab atas kehilangan atau kerusakan, atau cedera, kecelakaan, keterlambatan atau ketidak teraturan yang mungkin terjadi pada saat kelas sedang berlangsung.
                  </p>
                </li>
                <li>
                  <p>
                    Perkecualian yang terdapat di Ketentuan Penggunaan yang diberikan oleh Situs kepada Peserta Kelas tidak akan mengubah seluruhnya Ketentuan Penggunaan ini. Ketidaksahan yang terdapat di satu klausul, baik seluruhnya atau sebagian, tidak akan membuat Ketentuan Penggunaan ini menjadi tidak sah.
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="title-top">
            <div class="title">Bahasa dan Hukum yang Berlaku</div>
            <div class="description">
              <ol start="17">
                <li>
                  <p>
                    Ketentuan Penggunaan yang ada di Situs ditulis dalam bahasa Inggris.  Tulisan dalam Bahasa Inggris akan diberlakukan terhadap terjemahan dalam bahasa yang lain.
                  </p>
                </li>
                <li>
                  <p>
                    Ketentuan Penggunaan ini telah diberikan kepada yuridis Singapura di bawah hukum Singapura.
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> #}

{# VERSION 2 #}
{#
  <section class="sub-header-skillagogo parallax-skillagogo bg-img-about">
    <div class="bg-overlay-full overlay-purple"></div>
    <div class="container">
      <div class="col-md-12">
        <div class="title">
          Ketentuan Penggunaan
        </div>
      </div>
    </div>
  </section>
  <section class="static-terms-2">
    <div class="service-wrapper">
      <div class="container">
        <div class="col-md-12">
          <div class="list-service">
            <div class="row">
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>Definisi</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <p>
                      Situs ini ("Situs") dikelola oleh Skillagogo Pte Ltd, sebuah perusahaan swasta yang berkedudukan di Singapura dengan nomor pendaftaran 201507746N.
                    </p>
                    <ol>
                      <li>
                        <p>
                          Kelas-kelas yang ditampilkan di Situs ini ditawarkan kepada para pengguna yang ingin menghadiri kelas, kursus atau workshop yang diberikan oleh Penyedia Kelas atau perwakilan hukumnya (“Pengajar”) kepada peserta kelas (“Peserta Kelas”) dengan mengacu pada Ketentuan Penggunaan berikut ini. Beberapa kelas juga memiliki Syarat dan Ketentuan Khusus, dan tersedia di halaman profil Pengajar yang terdapat di Situs. Saat melakukan pemesanan di Situs atau mengirimkan pertanyaan atau meminta penjelasan terhadap layanan yang tersedia di Situs melalui email atau telepon, Peserta Kelas sudah menerima dan setuju dengan Ketentuan Penggunaan dan Syarat dan Ketentuan Khusus yang terdapat di Situs.
                        </p>
                      </li>
                      <li>
                        <p>
                          Situs menyediakan platform online di mana Penyedia Kelas bisa memasang kelas, kursus dan workshopnya di Situs ini. Dengan memesan tempat melalui Situs, Peserta Kelas sudah masuk ke dalam suatu hubungan yang mengikat antara Peserta Kelas dan Penyedia Kelas yang bersangkutan. Situs akan bertindak semata sebagai penengah antara Peserta Kelas dan Penyedia Kelas, dengan cara mengirimkan detail pemesanan kelas dan pembayaran kepada Penyedia Kelas serta mengirimkan konfirmasi pemesanan kelas kepada Peserta Kelas atas nama Penyedia Kelas.
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-service">
            <div class="row">
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>PEMESANAN</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <ol>
                      <li>
                        <p>
                          Untuk memesan tempat di kelas yang ditawarkan oleh Penyedia Kelas, Peserta Kelas harus membayar kepada Situs harga kelas seperti yang dimuat di Situs (kecuali jika ada Syarat dan Ketentuan yang lain). Setelah penerimaan konfirmasi pembayaran, Situs atas nama Penyedia Kelas, akan mengirimkan email konfirmasi pendaftaran kelas. Pemesanan kelas akan langsung efektif setelah email konfirmasi dikirimkan kepada Penyedia Kelas.
                        </p>
                      </li>
                      <li>
                        <p>
                          Pemesanan kelas hanya bisa diterima oleh pengguna yang telah berusia 18 tahun ke atas pada saat pemesanan.
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-service">
            <div class="row">
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>Harga dan Pembayaran</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <ol>
                      <li>
                        <p>Peserta Kelas bertanggung jawab atas pembayaran dari harga kelas sesuai dengan Ketentuan Penggunaan ini.</p>
                      </li>
                      <li>
                        <p>Harga kelas mencakup:</p>
                        <ul>
                          <li>Isi dari kelas/kursus/workshop yang diberikan oleh Penyedia Kelas </li>
                          <li>Penggunaan fasilitas kelas (jika ada)</li>
                          <li>Sertifikat Peserta (jika ada)</li>
                        </ul>
                      </li>
                      <li>
                        <p>Harga TIDAK mencakup: </p>
                        <ul>
                          <li>Peralatan atau perlengkapan lain yang diperlukan di kelas seperti yang tercantum di Halaman Profil Kelas.</li>
                        </ul>
                      </li>
                      <li>
                        <p>
                          Untuk kelas di Singapura, harga kelas adalah dalam mata uang Dolar Singapura (S$). Untuk kelas di Indonesia, harga kelas adalah dalam mata uang Indonesia Rupiah (Rp). Cara pembayaran hanya dapat dilakukan dalam mata uang yang bersangkutan.
                        </p>
                      </li>
                      <li>
                        <p>Pembayaran dapat dilakukan melalui Paypal (untuk Dolar Singapura) dan transfer ATM/bank (untuk Rupiah). </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-service">
            <div class="row">              
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>PEMBATALAN</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <ol>
                      <li>
                        <p>
                          Jika pembatalan dibuat oleh Peserta Kelas, maka uang yang telah dibayarkan akan dimasukkan menjadi skillagogo credits yang bisa digunakan untuk memesan kelas yang lain. skillagogo credits memiliki masa berlaku selama 12 bulan setelah pembukaan kredit.
                        </p>
                      </li>
                      <li>
                        <p>
                          Jika pembatalan dilakukan oleh Penyedia Kelas, maka Peserta Kelas akan diberikan kesempatan untuk mengganti jadwal ke tanggal yang lain. Jika ternyata tidak ada jadwal kelas yang tersedia, maka Peserta Kelas akan mendapatkan skillagogo credits. Pembatalan yang dilakukan oleh Penyedia Kelas akan dikenakan biaya administrasi.
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-service">
            <div class="row">
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>ULASAN TINJAUAN</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <ol>
                      <li>
                        <p>
                          Ulasan Tinjauan yang diberikan oleh Peserta Kelas akan diunggah di situs Profil Penyedia Kelas serta akun media sosial, demikan juga di Situs dengan tujuan untuk memberikan informasi kepada calon Peserta Kelas mengenai pendapat dari tingkat dan mutu layanan dari kelas yang ditawarkan serta Penyedia Kelas yang bersangkutan.
                        </p>
                      </li>
                      <li>
                        <p>Situs memiliki hak untuk menerima, menolak dan menghilangkan ulasan tinjauan tanpa harus memberi tahu kepada pihak yang bersangkutan.</p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-service">
            <div class="row">              
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>TANGGUNG JAWAB</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <ol start="14">
                      <li>
                        <p>
                          Baik Penyedia Kelas dan Situs tidak bertanggung jawab terhadap peristiwa yang berada di luar kekuasaan yang mengganggu jadwal Peserta Kelas, misalnya seperti bencana alam, peristiwa yang disebabkan oleh pemerintahan, kebakaran, mogok kerja, demo, terorisme, perang, banjir, gangguan yang datang dari luar ruangan kelas seperti pembangunan gedung pribadi atau publik, lalu lintas, binatang dan tetangga. Di bawah kondisi seperti ini, Situs tidak bisa memberikan potongan harga atau pengembalian uang.
                        </p>
                      </li>
                      <li>
                        <p>
                          Situs tak bertanggung jawab atas kehilangan atau kerusakan, atau cedera, kecelakaan, keterlambatan atau ketidak teraturan yang mungkin terjadi pada saat kelas sedang berlangsung.
                        </p>
                      </li>
                      <li>
                        <p>
                          Perkecualian yang terdapat di Ketentuan Penggunaan yang diberikan oleh Situs kepada Peserta Kelas tidak akan mengubah seluruhnya Ketentuan Penggunaan ini. Ketidaksahan yang terdapat di satu klausul, baik seluruhnya atau sebagian, tidak akan membuat Ketentuan Penggunaan ini menjadi tidak sah.
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-service">
            <div class="row">
              <div class="col-md-12">
                <div class="box-content">
                  <div class="title-top">
                    <span>Bahasa dan hukum yang berlaku</span>
                    <div class="title-highlight"></div>
                  </div>
                  <div class="description">
                    <ol>
                      <li>
                        <p>
                          Ketentuan Penggunaan yang ada di Situs ditulis dalam bahasa Inggris.  Tulisan dalam Bahasa Inggris akan diberlakukan terhadap terjemahan dalam bahasa yang lain.
                        </p>
                      </li>
                      <li>
                        <p>
                          Ketentuan Penggunaan ini telah diberikan kepada yuridis Singapura di bawah hukum Singapura.
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
#}