{{ content_en_new|raw }}

{#   <section class="static-page faq">
    <div class="container">
      <div class="col-md-12">
        <div class="static-body">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="txt-faq-b-uppercase">frequently asked questions</div>
            </br>
              <div class="txt-faq-b-normal">
                Part I. Using skillagogo website:
              </div>
              <ol>
                <li>What is skillagogo?
                  <p>
                    skillagogo is a marketplace for learning and teaching. skillagogo features classes, workshops and courses conducted by qualified and experienced teachers or trainers. On skillagogo, you will discover content in the domains of art, design &amp; culture, business, food &amp; drink, lifestyle, parenting &amp; family and technology. Our primary goal is to provide you with high quality content from qualified and experienced teachers. Booking a class with skillagogo is free and easy. Sign up
                    <a href="/register">here</a>.
                  </p>
                </li>
                <li>How does skillagogo work?
                  <p>
                    You can sign up as a teacher or as a student for free. skillagogo is not a membership-based website and there is no registration fee. If you are interested to book a class with skillagogo, the only thing you need to do is to sign up as student <a href="/register">here</a>. If you are a course provider/teacher and you wish to <a href="/dashboard/teacher/course/new_course"></a> list your classes with us, simply <a href="/register">register</a> as a teacher, <a href="/dashboard/teacher/course/new_course">list your class</a> by filling out a simple form, and publish it. You can leave the rest with us.
                  </p>
                </li>
                <li>Who should register on skillagogo?
                  <p>
                    skillagogo is for everybody! Learning and teaching do not have age, gender, and interest limitations. Learning a new skill enriches your life and skillagogo encourages you to learn anywhere you want, anytime you want! If you are a course provider, skillagogo allows you to improve your online exposure, build your audience, boost your marketing presence, and, of course, increase your revenue. Our goal is to offer you a complete learning and teaching experience.
                  </p>
                </li>
                <li>Where can I find skillagogo classes?
                  <p>
                    skillagogo classes are currently available in Singapore and Jakarta, Indonesia. We will be launching soon in other cities in Indonesia. Stay updated and subscribe to our newsletter! Click <a href="#" data-toggle="modal" data-target="#skillagogo-newsletter">here</a>.
                  </p>
                </li>
                <li>What classes can I find on skillagogo?
                  <p class="">
                    skillagogo provides you with various classes in the following categories: </p>
                    <ul>
                      <li> Arts, Design &amp; Culture: </li>
                        <ul>
                          <li> Photography </li>
                          <li> Graphic &amp; Design </li>
                          <li> Painting &amp; Drawing </li>
                          <li> Creative Writing </li>
                          <li> Advertising </li>
                          <li> Media &amp; Communication </li>
                          <li> Film &amp; Video </li>
                          <li> Music &amp; Audio </li>
                          <li> Hobbies &amp; Craft </li>
                          <li> Dance &amp; Performing Arts </li>
                          <li> Fashion &amp; Beauty </li>
                          <li> Foreign Language </li>
                          <li> Home Interior Design </li>
                        </ul>
                      <li>Business: </li>
                        <ul>
                          <li>Finance</li>
                          <li>Marketing &amp; Online Marketing</li>
                          <li>Entrepreneurship</li>
                          <li>Business Coaching</li>
                          <li>Personal Development &amp; Leadership</li>
                        </ul>
                      <li>F&B:</li>
                        <ul>
                          <li>Cooking &amp; Baking </li>
                          <li>Drink &amp; Bartending </li>
                          <li>Wine Culture </li>
                        </ul>
                      <li>Lifestyle:</li>
                        <ul>
                          <li>General Health &amp; Women&rsquo;s Health </li>
                          <li>Sports, Fitness &amp; Wellness </li>
                          <li>Diet &amp; Nutrition </li>
                          <li>Psychology &amp; Therapy </li>
                        </ul>
                      <li>Parenting &amp; Family:</li>
                        <ul>
                          <li>Parenting Guide </li>
                          <li>Kids Arts </li>
                          <li>Kids Sports &amp; Leisure </li>
                        </ul>
                      <li>Tech:</li>
                        <ul>
                          <li>Programming </li>
                          <li>Web Design </li>
                          <li>Mobile App </li>
                          <li>Science </li>
                        </ul>
                    </ul>
                    <p>The world of knowledge is infinite and we are very likely to add more categories overtime! </p>
                </li>
                <li>Can I recommend a teacher on skillagogo?
                  <p>
                    Yes, avec plaisir! We will be more than happy to welcome qualified teachers based on your recommendation, please click <a href="/teacher/recommend">here</a> or drop us a line at business@skillagogo.com
                  </p>
                </li>
                <li>Are there job openings at skillagogo?
                  <p>
                    We are always looking for good talents to join our international team in Singapore, Jakarta, and other cities in Indonesia. Visit our Career page <a href="/page/career"> here</a> or send your resume to cv@skillagogo.com. We will contact you if your profile matches our requirements.
                  </p>
                </li>
                <li>Does skillagogo have a mobile app?
                  <p>We will be launching our mobile application very soon. Be the first to know about our mobile app launch and get a discount or promotion by registering your email address <a href="#" data-toggle="modal" data-target="#skillagogo-newsletter">here</a>.
                  </p>
                </li>
              </ol>
              <div class="txt-faq-b-normal">
                Part II. Learning on skillagogo:
              </div>
              <div class="txt-faq-b-normal">A. General:</div>
              <ol>
                <li> Who can register to learn?
                  <p> Everybody above the age of 18 can register with skillagogo. It’s free and hassle-free. Simply go to our sign-up page by clicking <a href="/register">here</a>.</p>
                </li>
                <li> How much does it cost to sign up?
                  <p> Signing up with skillagogo is absolutely free! You are not required to buy packages or membership plans. You only pay when you book a class with skillagogo.</p>
                </li>
                <li> How to book a class through skillagogo?
                  <p> It’s simple! When you find a class that suits you, click on the “Book a Class” button and you will be asked to give your contact details and payment method (currently skillagogo accepts PayPal in Singapore and bank/ATM transfer in Indonesia). After confirming your booking, a confirmation email will be sent to you. You did not receive a confirmation email? Make sure your email address is correct. To check this, go to your Dashboard -> My Account -> Contact Info. Also check your spam/junk folder to see if our emails are filtered by your email client. Your booking will be immediately accessible in your dashboard.</p>
                </li>
                <li> Will I get a Certificate of Completion after attending a class?
                  <p> As skillagogo is not a formal education institution, we do not provide you with a Certificate of Completion. However, some class providers/schools may issue a Certificate of Completion, depending on the class you are attending. You may check whether a class provider issue a Certificate of Completion in the class details section.</p>
                </li>
              </ol>

              <div class="txt-faq-b-normal">B. Price & Payment:</div>
              <ol>
                <li> How can I make payment on the website?
                  <p>skillagogo currently accepts payment by PayPal for classes in Singapore. If you book classes on our website in Indonesia, you may pay by completing a bank or ATM transfer. To complete your payment, you will be redirected to the PayPal payment page where you can choose a way to pay with PayPal: by your credit card or by your Paypal account. If you don’t have a PayPal account, please click <a href="https://www.paypal.com/">here</a>. For payment by bank or ATM transfer, after completing your payment, please send a payment confirmation to skillagogo: pembayaran@skillagogo.com.</p>
                </li>
                <li> Is it safe to pay through skillagogo?
                  <p> Payment with skillagogo is safe. By using PayPal, you do not need to share your financial details nor to register your credit card numbers on skillagogo website.</p>
                </li>
                <li> Can I pay the class provider directly?
                  <p>When booking with skillagogo, you are not able to pay the class provider directly.</p>
                </li>
              </ol>

              <div class="txt-faq-b-normal">C. Reviews, Attendance & Refunds,</div>
              <ol>
                <li> Can I write a review on the class I just attended?
                  <p>Yes, absolutely! We encourage you to share your experience with the teacher on the skillagogo website. This feature becomes available only after you have attended the class. Students who have not attended the class will not be able to write a review on a class or a teacher.</p>
                </li>
                <li> Why does skillagogo recommend that I leave a review?
                  <p> Your review is important to the teacher. It will help the teacher to improve his/her content of his/her class and his/her online reputation. We encourage you to leave an honest and fair review, as the teacher will value it to better understand his/her performance. Your feedback will help other students to make the right decision when choosing a suitable teacher.</p>
                </li>
                <li> What happens if the class gets cancelled by the course provider?
                  <p>When the course provider cancels a class, you will be notified and we will arrange another schedule for you (if applicable). If the course provider does not have any schedule for the same class, your payment will be converted into skillagogo credits that you can use to pay for another class.</p>
                </li>
                <li> I book a class, but I can’t make it. Can I change my class schedule?
                  <p>Head over to your dashboard and choose the new class schedule. In the event that there is no other class schedule, you may convert your payment into skillagogo credits that you can use to pay for another class.</p>
                </li>

                <li> Can I cancel my registration?
                  <p>If you are not able to attend the class you have already booked, you will be able to cancel your registration up to 72 hours before the class starts. Please use the cancellation button in your dashboard.</p>
                </li>
                <li> What’s the refund policy?
                  <p>Unfortunately, we are not able to offer a refund. Your payment will be converted into skillagogo credits that you can use to book another class for yourself or your loved ones!</p>
                </li>
                <li> What are skillagogo credits?
                  <p>skillagogo credits are a store credit that you can use to pay for any class listed on skillagogo. These credits have a validity of 12 months. You will get an alert when your skillagogo credits are approaching the end of their validity. You may not transfer your skillagogo credit to someone else, nor cash it out. Your skillagogo credits can be used to book classes during promotion or special offer campaigns, terms and conditions may apply.</p>
                </li>
              </ol>

              <div class="txt-faq-b-normal">
                PART III. Teaching on skillagogo:
              </div>
              <div class="txt-faq-b-normal">A. General:</div>
              <ol>
                <li> Who can register to teach on skillagogo?
                  <p> Everyone who has a skill to share can teach and list his/her classes on skillagogo! Whether you are an individual teacher or a small, medium or big educational institution, skillagogo helps you market your classes more effectively.</p>
                </li>
                <li> How much does it cost to offer a class?
                  <p> Offering a class with skillagogo is free, and will always be. We do not charge when you list your classes on skillagogo. We take a small commission only when someone registers for your class through skillagogo.</p>
                </li>
                <li> How much is skillagogo’s commission?
                  <p> When someone registers for your class through killagogo, we take a 15% commission on the class price.</p>
                </li>
                <li> How do I attract more students and make sure that my class is relevant?
                  <p> As you list your class, we encourage you to write the class description as accurately as possible. Our <a href="/dashboard/teacher/course/new_course">“Create a Class”</a> feature has been designed to give you the flexibility to create a complete description of what you are offering. Filling out all fields in this feature will help you maximise the relevance of your class.</p>
                </li>
                <li> What is in it for me if I register my class on skillagogo?
                  <p> skillagogo is a marketplace specialising in providing courses, classes and workshops to the public. As a class provider, registering with skillagogo helps you channel your class to your targeted audience. Now you can focus on teaching, and leave the rest with us.</p>
                </li>
                <li> Does skillagogo provide a venue for teachers?
                  <p> We do not provide a physical venue for teachers. However we will be launching an additional service to help you find a venue for your class. Stay tuned!</p>
                </li>
                <li> Can I still acquire students outside skillagogo?
                  <p> Yes, you absolutely can. However if you do so, you will not be able to use skillagogo analytics services to see multiple metrics about your class and improve your marketing campaigns.</p>
                </li>
                <li> Can I offer a Certificate of Completion to my students?
                  <p> Yes, you can. If your institution gives a certificate to your students, you can state this in your class description.</p>
                </li>
                <li> Can I cancel my class?
                  <p> We suggest that you change the schedule instead of completely deleting the class. However under certain circumstances, you are allowed to delete your class by filling up the form that you can find in your dashboard, up to 48 hours before the class starts. Please do note that admin fee may apply for class cancellation.</p>
                </li>
              </ol>
              <div class="txt-faq-b-normal">B. Using “Create a Class”</div>
              <ol>
                <li> How to use “Create a Class” feature?
                  <p> “Create a Class” is a tool that you can use to create your Class Profile Page. When you are ready to list a class with skillagogo, you can click the “Create a Class” button on our website. This feature is designed to give you flexibility to explain your students what your class is all about. A clear and good copywriting will help you market your class more effectively.</p>
                </li>
                <li>
                  Can I make a change once my class is published?
                  <p class="p-ul"> You may change some information about your class under certain conditions:</p>
                  <ul>
                    <li>
                      <strong>Change of price</strong>: you are only allowed to change your class price when no students are registered
                    </li>
                    <li>
                      <strong>Change of schedule</strong>: you are allowed to change your class schedule up to 48 hours before the class starts.
                    </li>
                    <li>
                      <strong>Change of venue address</strong>: you are allowed to change your class location.
                    </li>
                  </ul>
                  <p> skillagogo will not be held responsible should there be complaint or registration cancellation from the students due to class change. </p>
                  </p>
                </li>
                <li> How can I contact the skillagogo team when I find problems while using the “Create a Class” feature?
                  <p> If you have a problem using the “Create a Class” feature, we will be more than happy to help. Drop us a line at support@skillagogo.com</p>
                </li>
              </ol>
            <div class="txt-faq-b-normal">C. Pricing</div>
              <ol>
                <li> How do I price my class?
                  <p> skillagogo does not want to interfere with your pricing. All prices in Singapore website are in Singaporean Dollar and in Indonesia website are in Indonesian Rupiah.</p>
                </li>
              </ol>
            <div class="txt-faq-b-normal">D. Payouts & Refunds:</div>
              <ol>
                <li> What is the teacher payout?
                  <p class="p-ul">The teacher payout is your earnings from teaching. Each time you successfully deliver a class, you will be able to claim your payouts. We have made these two types of payout transfer available for you: </p>
                  <ul>
                    <li>Bi-monthly payout: we send your earnings twice a month.</li>
                    <li>Monthly payout: we send your earnings once a month.</li>
                  </ul>
                  <p> By default, the payout payment is set to “monthly payout”. If you wish to change to a bi-monthly payout payment, you may set your preferred method in your dashboard.</p>
                </li>
                <li> When do I get my payouts?
                  <p> Teacher payout will be sent by Paypal for course providers in Singapore and via bank transfer for course providers in Indonesia. If you choose bi-monthly payout, the transfers will reach you every 7<sup>th</sup> and 21<sup>st</sup> of the month. If you opt for monthly payout, you will receive the transfer every 7<sup>th</sup> of the month.</p>
                </li>
                <li> How can I track the breakdown of all payments made?
                  <p> The breakdown of your total earnings can be viewed in your dashboard.</p>
                </li>
              </ol>
            <div class="txt-faq-b-normal">E. Reviews</div>
              <ol>
                <li> How do reviews work?
                  <p> Students can write a review after attending your class. The review will be published on the Class Profile Page and Teacher Profile Page. To view all the reviews you have received from your students, you can go to your dashboard in the Reviews section.</p>
                </li>
                <li> Can I remove a review?
                  <p>
                    No. After a review is published, it will stay in your profile. We encourage learners to leave an honest and accurate review to help the community learn about your class. Having said that, if you receive a review that violates the community guidelines, you may write to us and we will help you resolve the problem. Send your email to teachercare@skillagogo.com.
                  </p>
                </li>
                <li> Are reviews shared on social media platforms?
                  <p> Yes. You can share your reviews on social media. If you pair your skillagogo profile to your social media accounts, you will be able to share your reviews on your social media profiles.</p>
                </li>
              </ol>
              <div class="txt-faq-b-normal">
                PART IV. Using Your Dashboard
              </div>
              <ol>
                <li> How do I manage my account settings?
                  <p>You can manage your account settings by visiting your dashboard. Go to “My Account” to complete/modify your contact details, such as birthday, address, email address, etc.</p>
                </li>
                <li> How do I change my password?
                  <p>You can change your password by visiting your dashboard “My Account” and click the “Password Settings” tab.</p>
                </li>
                <li> How do I change my email notifications preference?
                  <p>You can change your email notifications and newsletter subscription preferences in your dashboard by going to “My Account” and clicking the “Email Notifications” tab.</p>
                </li>
                <li> How do I unsubscribe from email notifications?
                  <p>Visit your dashboard and click the “Email Notifications” tab. You will be able to unsubscribe from email notifications. If you change your mind you can always re-subscribe anytime at your convenience!</p>
                </li>
                <li> How do I see my payment history?
                  <p>You can see your payment histroy by visiting your dashboard “My Account” and click “Purchase History”.</p>
                </li>
                <li> How do I track all payments I should receive for my classes?
                  <p>The list of your earnings (“payout”) will be recorded in your dashboard in the “Teacher Payouts” section.</p>
                </li>
                <li> Why should I inform skillagogo about My Interests?
                  <p>Letting us know about your interests will allow us to create a more personalized recommendation for you. We don’t want you to miss interesting classes and based on your interests, you will be recommended classes that suit you.</p>
                </li>
                <li> If I register for more classes, how can I keep track of them?
                  <p>Your class history will reflect in your dashboard. You can visit “My Class List” to see the list of your ongoing classes, as well as your previous classes. In “My Schedule” you will see the dates of your upcoming classes</p>
                </li>
                <li> How can I monitor my class occupancy?
                  <p>Your class occupancy will be recorded your dashboard under “My Classes” and you can click the “My Class Progress” tab. Should you wish to get information anytime there is a new update about your class progress (someone enrolling in your class, someone adding your class to his/her wishlist, etc.) you can subscribe to our email notification.</p>
                </li>
                <li> What does My Data mean in my dashboard?
                  <p>“My Data” in your dashboard is a tool for you to view the summary of your classes listed on skillagogo. You can view the total number of classes you have conducted, the number of hours, the total number of students, etc.</p>
                </li>
                <li> How do I delete my account?
                  <p>If you wish to delete your account, visit your dashboard “My Account” and click on the “Password Settings” tab. Allow us to remind you that account deletion is permanent and non-reversible. If you delete your account, it will be gone forever.</p>
                </li>
              </ol>
            Do you still have questions about skillagogo? Fill up this form <a href="/page/contact_us">here</a> or drop us an email at contact@skillagogo.com.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> #}

{# VERSION 2 #}
{#
<section class="sub-header-skillagogo parallax-skillagogo bg-img-about">
    <div class="bg-overlay-full overlay-purple"></div>
    <div class="container">
      <div class="col-md-12">
        <div class="title">
          frequently asked questions
        </div>
      </div>
    </div>
  </section>
  <section class="static-faq-2">
    <div class="container">
      <div class="col-md-12">
        <div class="box-part">
          <div class="title-top">
            <span>Part I. Using skillagogo website:</span>
            <div class="title-highlight"></div>
          </div>
          <div class="description">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">What is skillagogo?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-1-1" aria-expanded="true" aria-controls="part-1-1">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-1-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>
                      skillagogo is a marketplace for learning and teaching. skillagogo features classes, workshops and courses conducted by qualified and experiencedteachers or trainers. On skillagogo, you will discover content in the domains of arts, design &amp; culture, business, food &amp; drink, lifestyle, parenting &amp; family and technology. Our primary goal is to provide you with high quality content from qualified and experienced teachers. Booking a class with skillagogo is free and easy. Sign up
                      <a href="/register">here</a>.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <div class="title">How does skillagogo work?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-1-2" aria-expanded="true" aria-controls="part-1-2">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-1-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <p>
                      You can sign up as teacher or as student for free. skillagogo is not a membership-based website and there is no registration fee. If you are interested to book a class with skillagogo, the only thing you need to do is to sign up as student <a href="/register">here</a>. If you are a course provider/teacher and you wish to <a href="/dashboard/teacher/course/new_course"></a> list your classes with us, simply <a href="/register">register</a> as a teacher, <a href="/dashboard/teacher/course/new_course">list your class</a> by filling out a simple form, and publish it. You can leave the rest with us.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <div class="title">Who should register on skillagogo?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-1-3" aria-expanded="true" aria-controls="part-1-3">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-1-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <p>
                      skillagogo is for everybody! Learning and teaching do not have age, gender, interest limitations. Learning a new skill enriches your life and skillagogo encourages you to learn anywhere you want, anytime you want! If you are a course provider, skillagogo allows you to improve your online exposure, build your audience, boost your marketing presence, and, of course, increase your revenue. Our goal is to offer you a complete learning and teaching experience.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <div class="title">Where can I find skillagogo classes?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-1-4" aria-expanded="true" aria-controls="part-1-4">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-1-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <p>
                      skillagogo classes are currently available in Singapore and Jakarta, Indonesia. We will be launching soon in other cities in Indonesia. Stay updated and subscribe to our newsletter! Click <a href="#" data-toggle="modal" data-target="#skillagogo-newsletter">here</a>.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <div class="title">What classes can I find on skillagogo?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-1-5" aria-expanded="true" aria-controls="part-1-5">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-1-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <p>
                      skillagogo provides you with various classes in the following categories: 
                    </p>
                    <ul>
                      <li> Arts, Design &amp; Culture: </li>
                        <ul>
                          <li> Photography </li>
                          <li> Graphic &amp; Design </li>
                          <li> Painting &amp; Drawing </li>
                          <li> Creative Writing </li>
                          <li> Advertising </li>
                          <li> Media &amp; Communication </li>
                          <li> Film &amp; Video </li>
                          <li> Music &amp; Audio </li>
                          <li> Hobbies &amp; Craft </li>
                          <li> Dance &amp; Performing Arts </li>
                          <li> Fashion &amp; Beauty </li>
                          <li> Foreign Language </li>
                          <li> Home Interior Design </li>
                        </ul>
                      <li>Business: </li>
                        <ul>
                          <li>Finance</li>
                          <li>Marketing &amp; Online Marketing</li>
                          <li>Entrepreneurship</li>
                          <li>Business Coaching</li>
                          <li>Personal Development &amp; Leadership</li>
                        </ul>
                      <li>F&B:</li>
                        <ul>
                          <li>Cooking &amp; Baking </li>
                          <li>Drink &amp; Bartending </li>
                          <li>Wine Culture </li>
                        </ul>
                      <li>Lifestyle:</li>
                        <ul>
                          <li>General Health &amp; Women&rsquo;s Health </li>
                          <li>Sports, Fitness &amp; Wellness </li>
                          <li>Diet &amp; Nutrition </li>
                          <li>Psychology &amp; Therapy </li>
                        </ul>
                      <li>Parenting &amp; Family:</li>
                        <ul>
                          <li>Parenting Guide </li>
                          <li>Kids Arts </li>
                          <li>Kids Sports &amp; Leisure </li>
                        </ul>
                      <li>Tech:</li>
                        <ul>
                          <li>Programming </li>
                          <li>Web Design </li>
                          <li>Mobile App </li>
                          <li>Science </li>
                        </ul>
                    </ul>
                    <p>The world of knowledge is infinite and we are very likely to add more categories overtime! </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <div class="title">Can I recommend a teacher on skillagogo?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-1-6" aria-expanded="true" aria-controls="part-1-6">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-1-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <p>
                      Yes, avec plaisir! We will be more than happy to welcome qualified teachers based on your recommendation, please click <a href="/teacher/recommend">here</a> or drop us a line at business@skillagogo.com
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <div class="title">Are there job openings at skillagogo?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-1-7" aria-expanded="true" aria-controls="part-1-7">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-1-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <p>
                      We are always looking for good talents to join our international team in Singapore, Jakarta, and other cities in Indonesia. Visit our Career page <a href="/page/career"> here</a> or send your resume to cv@skillagogo.com. We will contact you if your profile matches our requirements.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <div class="title">Does skillagogo have a mobile app?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-1-72" aria-expanded="true" aria-controls="part-1-72">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-1-72" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <p>
                      We will be launching our mobile application very soon. Be the first to know about our mobile app launch and get a discount or promotion by registering your email address 
                      <a href="#" data-toggle="modal" data-target="#skillagogo-newsletter">here</a>.
                    </p>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="title-top">
                <span>Part II. Learning on skillagogo:</span>
                <div class="title-highlight"></div>
              </div>
              <div class="alert alert-info" style="font-size:18px;">
                A. General:
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">Who can register to learn?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-1" aria-expanded="true" aria-controls="part-2-1">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Everybody above the age of 18 can register with skillagogo. It’s free and hassle-free. Simply go to our sign-up page by clicking <a href="/register">here</a>.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">How much does it cost to sign up?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-2" aria-expanded="true" aria-controls="part-2-2">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Signing up with skillagogo is absolutely free! You are not required to buy packages or membership plans. You only pay when you book a class with skillagogo.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">How to book a class through skillagogo?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-3" aria-expanded="true" aria-controls="part-2-3">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      It’s simple! When you find a class that suits you, click on the “Book a Class” button and you will be asked to give your contact details and payment method (currently skillagogo accepts PayPal in Singapore and bank/ATM transfer in Indonesia). After confirming your booking, a confirmation email will be sent to you. You did not receive a confirmation email? Make sure your email address is correct. To check this, go to your Dashboard -> My Account -> Contact Info. Also check your spam/junk folder to see if our emails are filtered by your email client. Your booking will be immediately accessible in your dashboard.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">Will I get a Certificate of Completion after attending a class?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-4" aria-expanded="true" aria-controls="part-2-4">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      As skillagogo is not a formal education institution, we do not provide you with a Certificate of Completion. However, some class providers/schools may issue a Certificate of Completion, depending on the class you are attending. You may check whether a class provider issue a Certificate of Completion in the class details section.
                    </p>
                  </div>
                </div>
              </div>
              <div class="alert alert-info" style="font-size:18px;">
                B. Price & Payment:
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">How can I make payment on the website?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-5" aria-expanded="true" aria-controls="part-2-5">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>
                      skillagogo currently accepts payment by PayPal for classes in Singapore. If you book classes on our website in Indonesia, you may pay by completing a bank or ATM transfer. To complete your payment, you will be redirected to the PayPal payment page where you can choose a way to pay with PayPal: by your credit card or by your Paypal account. If you don’t have a PayPal account, please click <a href="https://www.paypal.com/">here</a>. For payment by bank or ATM transfer, after completing your payment, please send a payment confirmation to skillagogo: pembayaran@skillagogo.com.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">Is it safe to pay through skillagogo?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-6" aria-expanded="true" aria-controls="part-2-6">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>
                      Payment with skillagogo is safe. By using PayPal, you do not need to share your financial details nor to register your credit card numbers on skillagogo website.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">Can I pay the class provider directly?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-7" aria-expanded="true" aria-controls="part-2-7">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>When booking with skillagogo, you are not able to pay the class provider directly.</p>
                  </div>
                </div>
              </div>
              <div class="alert alert-info" style="font-size:18px;">
                C. Reviews, Attendance & Refunds:
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">Can I write a review on the class I just attended?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-8" aria-expanded="true" aria-controls="part-2-8">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>
                      Yes, absolutely! We encourage you to share your experience with the teacher on the skillagogo website. This feature becomes available only after you have attended the class. Students who have not attended the class will not be able to write a review on a class or a teacher.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">Why does skillagogo recommend that I leave a review?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-9" aria-expanded="true" aria-controls="part-2-9">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Your review is important to the teacher. It will help the teacher to improve his/her content of his/her class and his/her online reputation. We encourage you to leave an honest and fair review, as the teacher will value it to better understand his/her performance. Your feedback will help other students to make the right decision when choosing a suitable teacher.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">What happens if the class gets cancelled by the course provider?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-10" aria-expanded="true" aria-controls="part-2-10">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>
                      When the course provider cancels a class, you will be notified and we will arrange another schedule for you (if applicable). If the course provider does not have any schedule for the same class, your payment will be converted into skillagogo credits that you can use to pay for another class.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">I book a class, but I can’t make it. Can I change my class schedule?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-11" aria-expanded="true" aria-controls="part-2-11">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>
                      Head over to your dashboard and choose the new class schedule. In the event that there is no other class schedule, you may convert your payment into skillagogo credits that you can use to pay for another class.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">Can I cancel my registration?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-12" aria-expanded="true" aria-controls="part-2-12">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>
                      If you are not able to attend the class you have already booked, you will be able to cancel your registration up to 72 hours before the class starts. Please use the cancellation button in your dashboard.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">What’s the refund policy?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-13" aria-expanded="true" aria-controls="part-2-13">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>
                      Unfortunately, we are not able to offer a refund. Your payment will be converted into skillagogo credits that you can use to book another class for yourself or your loved ones!
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">What are skillagogo credits?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-2-14" aria-expanded="true" aria-controls="part-2-14">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-2-14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>
                      skillagogo credits are a store credit that you can use to pay for any class listed on skillagogo. These credits have a validity of 12 months. You will get an alert when your skillagogo credits are approaching the end of their validity. You may not transfer your skillagogo credit to someone else, nor cash it out. Your skillagogo credits can be used to book classes during promotion or special offer campaigns, terms and conditions may apply.
                    </p>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="title-top">
                <span>Part III. Teaching on skillagogo:</span>
                <div class="title-highlight"></div>
              </div>
              <div class="alert alert-info" style="font-size:18px;">
                A. General
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">Who can register to teach on skillagogo?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-1" aria-expanded="true" aria-controls="part-3-1">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Everyone who has a skill to share can teach and list his/her classes on skillagogo! Whether you are an individual teacher or a small, medium or big educational institution, skillagogo helps you market your classes more effectively.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">How much does it cost to offer a class?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-2" aria-expanded="true" aria-controls="part-3-2">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Offering a class with skillagogo is free, and will always be. We do not charge when you list your classes on skillagogo. We take a small commission only when someone registers for your class through skillagogo.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">How much is skillagogo’s commission?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-3" aria-expanded="true" aria-controls="part-3-3">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      When someone registers for your class through killagogo, we take a 15% commission on the class price.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">How do I attract more students and make sure that my class is relevant?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-4" aria-expanded="true" aria-controls="part-3-4">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      As you list your class, we encourage you to write the class description as accurately as possible. Our <a href="/dashboard/teacher/course/new_course">“Create a Class”</a> feature has been designed to give you the flexibility to create a complete description of what you are offering. Filling out all fields in this feature will help you maximise the relevance of your class.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">What is in it for me if I register my class on skillagogo?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-5" aria-expanded="true" aria-controls="part-3-5">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      skillagogo is a marketplace specialising in providing courses, classes and workshops to the public. As a class provider, registering with skillagogo helps you channel your class to your targeted audience. Now you can focus on teaching, and leave the rest with us.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">Does skillagogo provide a venue for teachers?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-6" aria-expanded="true" aria-controls="part-3-6">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      We do not provide a physical venue for teachers. However we will be launching an additional service to help you find a venue for your class. Stay tuned!
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">Can I still acquire students outside skillagogo?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-7" aria-expanded="true" aria-controls="part-3-7">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Yes, you absolutely can. However if you do so, you will not be able to use skillagogo analytics services to see multiple metrics about your class and improve your marketing campaigns.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">Can I offer a Certificate of Completion to my students?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-8" aria-expanded="true" aria-controls="part-3-8">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Yes, you can. If your institution gives a certificate to your students, you can state this in your class description.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">Can I cancel my class?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-9" aria-expanded="true" aria-controls="part-3-9">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      We suggest that you change the schedule instead of completely deleting the class. However under certain circumstances, you are allowed to delete your class by filling up the form that you can find in your dashboard, up to 48 hours before the class starts. Please do note that admin fee may apply for class cancellation.
                    </p>
                  </div>
                </div>
              </div>
              <div class="alert alert-info" style="font-size:18px;">
                B. Using “Create a Class
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">How to use “Create a Class” feature?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-10" aria-expanded="true" aria-controls="part-3-10">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      “Create a Class” is a tool that you can use to create your Class Profile Page. When you are ready to list a class with skillagogo, you can click the “Create a Class” button on our website. This feature is designed to give you flexibility to explain your students what your class is all about. A clear and good copywriting will help you market your class more effectively.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">Can I make a change once my class is published?</div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-11" aria-expanded="true" aria-controls="part-3-11">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      <p> You may change some information about your class under certain conditions:</p>
                      <ul>
                        <li>
                          <strong>Change of price</strong>: you are only allowed to change your class price when no students are registered
                        </li>
                        <li>
                          <strong>Change of schedule</strong>: you are allowed to change your class schedule up to 48 hours before the class starts.
                        </li>
                        <li>
                          <strong>Change of venue address</strong>: you are allowed to change your class location.
                        </li>
                      </ul>
                      <p> 
                        skillagogo will not be held responsible should there be complaint or registration cancellation from the students due to class change. 
                      </p>
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    How can I contact the skillagogo team when I find problems while using the “Create a Class” feature?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-12" aria-expanded="true" aria-controls="part-3-12">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      If you have a problem using the “Create a Class” feature, we will be more than happy to help. Drop us a line at support@skillagogo.com.
                    </p>
                  </div>
                </div>
              </div>
              <div class="alert alert-info" style="font-size:18px;">
                C. Pricing
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    How do I price my class?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-13" aria-expanded="true" aria-controls="part-3-13">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      skillagogo does not want to interfere with your pricing. All prices in Singapore website are in Singaporean Dollar and in Indonesia website are in Indonesian Rupiah.
                    </p>
                  </div>
                </div>
              </div>
              <div class="alert alert-info" style="font-size:18px;">
                D. Payouts & Refunds:
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    What is the teacher payout?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-14" aria-expanded="true" aria-controls="part-3-14">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      The teacher payout is your earnings from teaching. Each time you successfully deliver a class, you will be able to claim your payouts. We have made these two types of payout transfer available for you:
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    What is the teacher payout?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-15" aria-expanded="true" aria-controls="part-3-15">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      The teacher payout is your earnings from teaching. Each time you successfully deliver a class, you will be able to claim your payouts. We have made these two types of payout transfer available for you:
                    </p>
                    <ul>
                      <li>Bi-monthly payout: we send your earnings twice a month.</li>
                      <li>Monthly payout: we send your earnings once a month.</li>
                    </ul>
                    <p> 
                      By default, the payout payment is set to “monthly payout”. If you wish to change to a bi-monthly payout payment, you may set your preferred method in your dashboard.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    When do I get my payouts?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-16" aria-expanded="true" aria-controls="part-3-16">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Teacher payout will be sent by Paypal for course providers in Singapore and via bank transfer for course providers in Indonesia. If you choose bi-monthly payout, the transfers will reach you every 7<sup>th</sup> and 21<sup>st</sup> of the month. If you opt for monthly payout, you will receive the transfer every 7<sup>th</sup> of the month.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    How can I track the breakdown of all payments made?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-17" aria-expanded="true" aria-controls="part-3-17">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      The breakdown of your total earnings can be viewed in your dashboard.
                    </p>
                  </div>
                </div>
              </div>
              <div class="alert alert-info" style="font-size:18px;">
                E. Reviews
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    How do reviews work?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-18" aria-expanded="true" aria-controls="part-3-18">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Students can write a review after attending your class. The review will be published on the Class Profile Page and Teacher Profile Page. To view all the reviews you have received from your students, you can go to your dashboard in the Reviews section.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    Can I remove a review?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-19" aria-expanded="true" aria-controls="part-3-19">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      No. After a review is published, it will stay in your profile. We encourage learners to leave an honest and accurate review to help the community learn about your class. Having said that, if you receive a review that violates the community guidelines, you may write to us and we will help you resolve the problem. Send your email to teachercare@skillagogo.com.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    Are reviews shared on social media platforms?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-3-19" aria-expanded="true" aria-controls="part-3-19">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-3-19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Yes. You can share your reviews on social media. If you pair your skillagogo profile to your social media accounts, you will be able to share your reviews on your social media profiles.
                    </p>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="title-top">
                <span>Part IV. Using Your Dashboard:</span>
                <div class="title-highlight"></div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    How do I manage my account settings?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-4-1" aria-expanded="true" aria-controls="part-4-1">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-4-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      You can manage your account settings by visiting your dashboard. Go to “My Account” to complete/modify your contact details, such as birthday, address, email address, etc.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    How do I change my password?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-4-2" aria-expanded="true" aria-controls="part-4-2">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-4-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      You can change your password by visiting your dashboard “My Account” and click the “Password Settings” tab.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    How do I change my email notifications preference?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-4-3" aria-expanded="true" aria-controls="part-4-3">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-4-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      You can change your email notifications and newsletter subscription preferences in your dashboard by going to “My Account” and clicking the “Email Notifications” tab.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    How do I unsubscribe from email notifications?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-4-4" aria-expanded="true" aria-controls="part-4-4">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-4-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Visit your dashboard and click the “Email Notifications” tab. You will be able to unsubscribe from email notifications. If you change your mind you can always re-subscribe anytime at your convenience!
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    How do I see my payment history?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-4-5" aria-expanded="true" aria-controls="part-4-5">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-4-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      You can see your payment histroy by visiting your dashboard “My Account” and click “Purchase History”.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    How do I track all payments I should receive for my classes?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-4-6" aria-expanded="true" aria-controls="part-4-6">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-4-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      The list of your earnings (“payout”) will be recorded in your dashboard in the “Teacher Payouts” section.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    Why should I inform skillagogo about My Interests?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-4-7" aria-expanded="true" aria-controls="part-4-7">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-4-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Letting us know about your interests will allow us to create a more personalized recommendation for you. We don’t want you to miss interesting classes and based on your interests, you will be recommended classes that suit you.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    If I register for more classes, how can I keep track of them?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-4-8" aria-expanded="true" aria-controls="part-4-8">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-4-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Your class history will reflect in your dashboard. You can visit “My Class List” to see the list of your ongoing classes, as well as your previous classes. In “My Schedule” you will see the dates of your upcoming classes
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    How can I monitor my class occupancy?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-4-9" aria-expanded="true" aria-controls="part-4-9">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-4-9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      Your class occupancy will be recorded your dashboard under “My Classes” and you can click the “My Class Progress” tab. Should you wish to get information anytime there is a new update about your class progress (someone enrolling in your class, someone adding your class to his/her wishlist, etc.) you can subscribe to our email notification.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    What does My Data mean in my dashboard?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-4-10" aria-expanded="true" aria-controls="part-4-10">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-4-10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      “My Data” in your dashboard is a tool for you to view the summary of your classes listed on skillagogo. You can view the total number of classes you have conducted, the number of hours, the total number of students, etc.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="title">
                    How do I delete my account?
                  </div>
                  <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#part-4-11" aria-expanded="true" aria-controls="part-4-11">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
                <div id="part-4-11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> 
                      If you wish to delete your account, visit your dashboard “My Account” and click on the “Password Settings” tab. Allow us to remind you that account deletion is permanent and non-reversible. If you delete your account, it will be gone forever.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
#}