{{ content_id_new|raw }}

{# <section class="static-career-wrapper">
  <div class="container">
    <div class="col-md-12">
      <div class="desc-top">
        <div class="title">
          BERGABUNGLAH DENGAN SKILLAGOGO
        </div>
        <div class="description">
          Sejalan dengan perkembangan yang sangat pesat, skilagogo akan terus mencari profil menarik seperti yang Anda miliki. Apakah Anda cerdas, berbakat, penuh semangat, senang bekerja keras dan tinggal di Singapura atau Jakarta? Kirimkan CV kepada kami di career@skillagogo.com.
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>POSISI YANG SEDANG KAMI CARI:</strong>
        <p>
          Maaf, saat ini belum ada posisi yang terbuka di Jakarta. Periksa kembali laman ini secara teratur untuk melihat posisi yang sedang kami cari.
        </p>
      </div>
    </div>
  </div>
</section> #}

