{{ content_en_new|raw }}

{#   <section class="static-career-wrapper">
    <div class="container">
      <div class="col-md-12">
        <div class="desc-top">
          <div class="title">
            JOIN OUR TEAM
          </div>
          <div class="description">
            We are growing and we are always looking for great talents.  Are you a smart, talented, passionate and hard-working individual living in Singapore or Indonesia?
            <br/>Send us your CV at <a href="mailto:career@skillagogo.com">career@skillagogo.com</a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="horizontal-menu">
          <a href="{{ base_url }}" class="list-h-top active">
            <div class="title">
              BUSINESS DEVELOPMENT DIRECTOR
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-12">
        <div class="box-career-listing">
          <div class="overlay overlay-red"></div>
          <!-- <img src="../assets/images/slide-1.jpg" alt=""> -->
          <div class="box-info-career">
            <div class="box-title-location">
              <div class="row">
                <div class="col-md-7">
                  <div class="title">BUSINESS DEVELOPMENT DIRECTOR</div>
                </div>
                <div class="col-md-3">
                  <div class="location">Singapore</div>
                </div>
                <div class="col-md-2">
                  <div class="location">Full Time</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="description">
                  <strong>Mandate:</strong> build market position by locating, developing, defining, negotiating, and
                  closing business relationships with content providers (e.g. free lancers and
                  educational institutions) but also potential partners (e.g. venue providers,
                  transportation providers, etc.)
                </div>
                <div class="pull-right">
                  <a href="" class="btn btn-desc-career">
                    Full description
                  </a>
                </div>
              </div>
              <div class="col-md-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> #}

{# VERSION 2 #}
{#
<section class="sub-header-skillagogo parallax-skillagogo bg-img-about">
  <div class="bg-overlay-full overlay-purple"></div>
  <div class="container">
    <div class="col-md-12">
      <div class="title">
        Careers
      </div>
      <div class="description">
        We are growing and we are always looking for great talents.  Are you a smart, talented, passionate and hard-working individual living in Singapore or Indonesia? Send us your CV at <a href="mailto:career@skillagogo.com">career@skillagogo.com</a>
      </div>
    </div>
  </div>
</section>
<section class="position-career" id="position">
  <div class="sub-position-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <div class="title">Business Development Director</div>
                <a class="pull-right box-icon" role="button" data-toggle="collapse" data-parent="#accordion" href="#android-developer" aria-expanded="true" aria-controls="android-developer">
                    <i class="fa fa-chevron-down"></i>
                </a>
              </div>
              <div id="android-developer" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        Mandate: build market position by locating, developing, defining, negotiating, and closing business relationships with content providers (e.g. free lancers and educational institutions) but also potential partners (e.g. venue providers, transportation providers, etc.)
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
#}