{{ content_id_new|raw }}

{# <section class="static-privacy-wrapper">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="static-body">
        <div class="title-top">
          <div class="title">KEBIJAKAN PRIVASI</div>
        </div>
        <div>
          <div>
            <p>
              Privasi Anda adalah prioritas kami. Kebijakan privasi dibuat untuk menjelaskan bagaimana skillagogo.com menggunakan dan melindungi informasi yang Anda berikan kepada skillagogo.com saat Anda menggunakan situs ini. skillagogo.com berkomitmen untuk menjaga agar privasi Anda selalu terlindungi. Jika kami menanyakan kepada Anda untuk memberikan informasi tertentu yang bisa membuat Anda teridentifikasi saat menggunakan situs ini, kami jamin kepada Anda bahwa informasi tersebut hanya akan digunakan sesuai dengan pernyataan privasi ini.
            </p>
            <p>
              skillagogo.com mungkin akan mengganti kebijakan ini dengan cara memperbarui laman ini. Anda perlu memeriksa laman ini secara berkala untuk memastikan bahwa Anda setuju dengan perubahan yang ada. Kebijakan ini efektif diberlakukan mulai 6 Juni 2016.
            </p>
            <br/>
            <div class="subtitle">YANG KAMI KUMPULKAN</div>
            <p>Kami mungkin mengumpulkan beberapa informasi berikut ini:</p>
            <ul>
              <li class="check">Informasi pribadi termasuk nama, umur, jenis kelamin, dan pekerjaan </li>
              <li class="check">Informasi kontak termasuk nomor telepon dan alamat email.</li>
              <li class="check">Informasi demografis termasuk kode pos, alamat rumah, alamat kantor,</li>
              <li class="check">Informasi lain yang berkaitan dengan survei konsumer, dan/atau penawaran, termasuk pilihan dan minat.</li>
            </ul>
            <br/>
            <div class="subtitle">APA YANG KAMI LAKUKAN DENGAN INFORMASI YANG TERKUMPUL</div>
            <p>
              Kami memerlukan informasi ini untuk memahami kebutuhan Anda dan memberikan kepada Anda layanan yang lebih baik, dan khususnya karena alasan berikut:
            </p>
            <ul>
              <li class="check">Rekaman data internal</li>
              <li class="check">Kami mungkin menggunakan informasi tersebut untuk meningkatkan produk dan layanan kami </li>
              <li class="check">Secara berkala kami mungkin mengirimkan email promosi mengenai produk baru, promo, dan juga informasi lain yang kami rasa berguna bagi Anda menggunakan alamat email yang telah Anda berikan kepada kami </li>
              <li class="check">Secara berkala, kami juga menggunakan informasi untuk mengkontak Anda untuk kebutuhan riset pasar. Kami mungkin mengkontak Anda melalui email, telepon, faks atau surat. Kami mungkin menggunakan informasi tersebut untuk mengkostumisasi situs berdasarkan minat Anda </li>
            </ul>
            <br/>
            <div class="subtitle">KEAMANAN</div>
            <p>
              Kami berkomitmen untuk memastikan bahwa semua informasi terjaga dengan baik. Untuk menghindari akses yang tidak diinginkan dan kemungkinan informasi yang bocor di publik, kami membuat prosedur manajerial, fisik dan elektronik untuk menjaga dan mengamankan informasi yang dapatkan secara online.
            </p>
            <br/>
            <div class="subtitle">BAGAIMANA KAMI MENGGUNAKAN COOKIES</div>
            <p>
              Cookie adalah berkas kecil yang akan meminta pesetujuan Anda untuk ditempatkan di perangkat keras komputer Anda. Pada saat Anda setuju, berkas tersebut ditambahkan dan cookie akan membantu menganalisa trafik situs dan memberitahu kepada Anda saat Anda mengunjungi satu situs tertentu. Cookie juga membiarkan aplikasi web untuk merespon kepada Anda sebagai individual. Aplikasi web ini bisa membuat operasi kerjanya sesuai dengan kebutuhan Anda, apa yang Anda sukai dan tidak sukai dengan cara mengumpulkan dan mengingat informasi mengenai pilihan Anda.
            </p>
            <p>
              Kami mungkin menggunakan cookie log trafik untuk mengidentifikasi laman-laman mana yang sedang digunakan. Hal ini akan membantu kami menganalisa data mengenai trafik laman situs dan meningkatkan situs ini agar bisa memenuhi kebutuhan konsumer. Kami hanya menggunakan informasi ini untuk kebutuhan analisa statistik dan kemudian data tersebut akan kami hilangkan dari sistem.
            </p>
            <p>
              Secara keseluruhan, cookie membantu kami untuk memberikan dan meningkatkan layanan yang terbaik bagi situs, dengan cara memberikan akses kepada kami untuk memonitor laman mana yang Anda rasa berguna dan juga tidak berguna. Cookie tidak memberikan akses ke komputer Anda atau informasi apa saja mengenai Anda, kami hanya mendapatkan data yang sudah Anda setujui untuk dibagikan kepada kami.
            </p>
            <p>
              Anda boleh memilih untuk menerima atau menolak cookie. Kebanyakan browser web secara otomatis akan menerima cookie, tapi Anda bisa mengubah pengaturan browser Anda untuk menolak cookie jika Anda tidak mau. Namun hal ini kemungkinan bisa membuat Anda tidak bisa menikmati situs dengan sepenuhnya.
            </p>
            <br/>
            <div class="subtitle">TAUTAN KE SITUS LAIN</div>
            <p>
              Situs kami mungkin mengandung tautan ke situs-situs yang lain. Saat Anda sudah menggunakan tautan ini dan meninggalkan situs kami, perlu kami beritahukan bahwa kami tidak memiliki kendali atas apa yang ada di situs lain. Oleh karena itu kami tidak bertanggung jawab untuk melindungi privasi dari setiap informasi yang Anda berikan saat mengunjungi situs lain tersebut, dan situs lain tersebut tidak berada di dalam Kebijakan Privasi ini. Anda perlu berhati-hati dan memeriksa laman pernyataan Kebijakan Privasi yang terdapat di situs yang bersangkutan.
            </p>
            <p>
              Kami tidak akan menjual, membagikan atau menyewakan informasi pribadi Anda kepada pihak ketiga, kecuali kami memiliki ijin atau diminta oleh hukum untuk melakukannya. Kami mungkin akan menggunakan informasi pribadi Anda untuk mengirimkan informasi promosi dari pihak ketiga yang kami rasa berguna bagi Anda, jika Anda rasa perlu.
            </p>
            <p>
              Jika Anda berpikir bahwa setiap informasi yang kami punyai mengenai Anda ternyata salah atau tidak lengkap, silakan kirimkan email kepada kami secepatnya di  contact@skillagogo.com. Kami akan segera membetulkan setiap informasi yang salah.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> #}

{#
<section class="sub-header-skillagogo parallax-skillagogo bg-img-about">
  <div class="bg-overlay-full overlay-purple"></div>
  <div class="container">
    <div class="col-md-12">
      <div class="title">
        KEBIJAKAN PRIVASI
      </div>
      <div class="description">
        <p>
          Privasi Anda adalah prioritas kami. Kebijakan privasi dibuat untuk menjelaskan bagaimana skillagogo.com menggunakan dan melindungi informasi yang Anda berikan kepada skillagogo.com saat Anda menggunakan situs ini. skillagogo.com berkomitmen untuk menjaga agar privasi Anda selalu terlindungi. Jika kami menanyakan kepada Anda untuk memberikan informasi tertentu yang bisa membuat Anda teridentifikasi saat menggunakan situs ini, kami jamin kepada Anda bahwa informasi tersebut hanya akan digunakan sesuai dengan pernyataan privasi ini.
        </p>
        <p>
          skillagogo.com mungkin akan mengganti kebijakan ini dengan cara memperbarui laman ini. Anda perlu memeriksa laman ini secara berkala untuk memastikan bahwa Anda setuju dengan perubahan yang ada. Kebijakan ini efektif diberlakukan mulai 6 Juni 2016.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="static-privacy-2">
  <div class="container">
    <div class="col-md-12">
      <div class="list-privacy">
        <div class="title-top">
          <span>YANG KAMI KUMPULKAN</span>
          <div class="title-highlight"></div>
        </div>
        <div class="description">
          <p>Kami mungkin mengumpulkan beberapa informasi berikut ini:</p>
          <ul>
            <li class="check">
              Informasi pribadi termasuk nama, umur, jenis kelamin, dan pekerjaan 
            </li>
            <li class="check">
              Informasi kontak termasuk nomor telepon dan alamat email.
            </li>
            <li class="check">
              Informasi demografis termasuk kode pos, alamat rumah, alamat kantor,
            </li>
            <li class="check">
              Informasi lain yang berkaitan dengan survei konsumer, dan/atau penawaran, termasuk pilihan dan minat.
            </li>
          </ul>
        </div>
      </div>
      <div class="list-privacy">
        <div class="title-top">
          <span>APA YANG KAMI LAKUKAN DENGAN INFORMASI YANG TERKUMPUL</span>
          <div class="title-highlight"></div>
        </div>
        <div class="description">
          <p>
            Kami memerlukan informasi ini untuk memahami kebutuhan Anda dan memberikan kepada Anda layanan yang lebih baik, dan khususnya karena alasan berikut:
          </p>
          <ul>
            <li class="check">Rekaman data internal</li>
            <li class="check">
              Kami mungkin menggunakan informasi tersebut untuk meningkatkan produk dan layanan kami 
            </li>
            <li class="check">
              Secara berkala kami mungkin mengirimkan email promosi mengenai produk baru, promo, dan juga informasi lain yang kami rasa berguna bagi Anda menggunakan alamat email yang telah Anda berikan kepada kami 
            </li>
            <li class="check">
              Secara berkala, kami juga menggunakan informasi untuk mengkontak Anda untuk kebutuhan riset pasar. Kami mungkin mengkontak Anda melalui email, telepon, faks atau surat. Kami mungkin menggunakan informasi tersebut untuk mengkostumisasi situs berdasarkan minat Anda 
            </li>
          </ul>
        </div>
      </div>
      <div class="list-privacy">
        <div class="title-top">
          <span>KEAMANAN</span>
          <div class="title-highlight"></div>
        </div>
        <div class="description">
          <p>
            Kami berkomitmen untuk memastikan bahwa semua informasi terjaga dengan baik. Untuk menghindari akses yang tidak diinginkan dan kemungkinan informasi yang bocor di publik, kami membuat prosedur manajerial, fisik dan elektronik untuk menjaga dan mengamankan informasi yang dapatkan secara online.
          </p>
        </div>
      </div>
      <div class="list-privacy">
        <div class="title-top">
          <span>BAGAIMANA KAMI MENGGUNAKAN COOKIES</span>
          <div class="title-highlight"></div>
        </div>
        <div class="description">
          <p>
            Cookie adalah berkas kecil yang akan meminta pesetujuan Anda untuk ditempatkan di perangkat keras komputer Anda. Pada saat Anda setuju, berkas tersebut ditambahkan dan cookie akan membantu menganalisa trafik situs dan memberitahu kepada Anda saat Anda mengunjungi satu situs tertentu. Cookie juga membiarkan aplikasi web untuk merespon kepada Anda sebagai individual. Aplikasi web ini bisa membuat operasi kerjanya sesuai dengan kebutuhan Anda, apa yang Anda sukai dan tidak sukai dengan cara mengumpulkan dan mengingat informasi mengenai pilihan Anda.
          </p>
          <p>
            Kami mungkin menggunakan cookie log trafik untuk mengidentifikasi laman-laman mana yang sedang digunakan. Hal ini akan membantu kami menganalisa data mengenai trafik laman situs dan meningkatkan situs ini agar bisa memenuhi kebutuhan konsumer. Kami hanya menggunakan informasi ini untuk kebutuhan analisa statistik dan kemudian data tersebut akan kami hilangkan dari sistem.
          </p>
          <p>
            Secara keseluruhan, cookie membantu kami untuk memberikan dan meningkatkan layanan yang terbaik bagi situs, dengan cara memberikan akses kepada kami untuk memonitor laman mana yang Anda rasa berguna dan juga tidak berguna. Cookie tidak memberikan akses ke komputer Anda atau informasi apa saja mengenai Anda, kami hanya mendapatkan data yang sudah Anda setujui untuk dibagikan kepada kami.
          </p>
          <p>
            Anda boleh memilih untuk menerima atau menolak cookie. Kebanyakan browser web secara otomatis akan menerima cookie, tapi Anda bisa mengubah pengaturan browser Anda untuk menolak cookie jika Anda tidak mau. Namun hal ini kemungkinan bisa membuat Anda tidak bisa menikmati situs dengan sepenuhnya.
          </p>
        </div>
      </div>
      <div class="list-privacy">
        <div class="title-top">
          <span>TAUTAN KE SITUS LAIN</span>
          <div class="title-highlight"></div>
        </div>
        <div class="description">
          <p>
            Situs kami mungkin mengandung tautan ke situs-situs yang lain. Saat Anda sudah menggunakan tautan ini dan meninggalkan situs kami, perlu kami beritahukan bahwa kami tidak memiliki kendali atas apa yang ada di situs lain. Oleh karena itu kami tidak bertanggung jawab untuk melindungi privasi dari setiap informasi yang Anda berikan saat mengunjungi situs lain tersebut, dan situs lain tersebut tidak berada di dalam Kebijakan Privasi ini. Anda perlu berhati-hati dan memeriksa laman pernyataan Kebijakan Privasi yang terdapat di situs yang bersangkutan.
          </p>
          <p>
            Kami tidak akan menjual, membagikan atau menyewakan informasi pribadi Anda kepada pihak ketiga, kecuali kami memiliki ijin atau diminta oleh hukum untuk melakukannya. Kami mungkin akan menggunakan informasi pribadi Anda untuk mengirimkan informasi promosi dari pihak ketiga yang kami rasa berguna bagi Anda, jika Anda rasa perlu.
          </p>
          <p>
            Jika Anda berpikir bahwa setiap informasi yang kami punyai mengenai Anda ternyata salah atau tidak lengkap, silakan kirimkan email kepada kami secepatnya di  contact@skillagogo.com. Kami akan segera membetulkan setiap informasi yang salah.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
#}