    <tr>
      <td align="center" valign="top" style="background-color:#8186C1;">
        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#8186C1;">
          <tbody>
            <tr>
              <td valign="top">
                <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color:#8186C1;">
                  <tbody>
                    <tr>
                      <td height="10">
                      </td>
                    </tr>
                    <tr>
                      <td valign="top" style="font-size: 15px; line-height: 22px; font-family:arial; color:#ffffff; font-weight:300; text-align:center; ">
                        Skillagogo Pte Ltd, all rights reserved 2016 &copy;
                      </td>
                    </tr>
                    <tr>
                      <td height="10">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
